.sign-up
{
    &-title
    {
        font-size: 28px;

        width: 70%;
        height: 38px;
    }
    
}

.checkbox-sign-up
    {
        display: flex;
        align-items: center;
        flex-direction: row;

        text-align: center;
    }