<<<<<<< HEAD:src/components/Button/Button.scss
/*@mixin theme($theme: DarkGray) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  color: #fff;
}*/

@use 'base';
=======
@import '../utilities/mixins';
>>>>>>> e36a20bb00796befee9dd2fcdd55de8cdaf3311d:src/styles/components/_buttons.scss

.all{
    display: flex;
    align-self: center;
}

.home-button {
<<<<<<< HEAD:src/components/Button/Button.scss
    /*@include theme;*/
    //background-color: base.$purple-button;
    color: #F6F1FB;
    width: 386px;
    height: 54px;
    border-radius: 38px;
    border: 0px solid transparent;
    margin-top: 50px;
=======
    @include button-purple;
>>>>>>> e36a20bb00796befee9dd2fcdd55de8cdaf3311d:src/styles/components/_buttons.scss
}

.sign-up-button-back {
    background-color: white;
    align-self: flex-start;
    border-radius: 100%;
    border: 1px solid black;
    width: 55px;
    height: 55px;   
    margin-left: 30px;
}

.sign-up-button-facebook {
    background-color: $principal-color;
    color: #F6F1FB;
    display: flex;
    align-items: center;
    width: 364px;
    height: 40px;
    border-radius: 20px;
    border: 0px solid transparent;
    width: 386px;
    height: 54px;
}

.sign-up-button-google{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 386px;
    height: 54px;
    border-radius: 20px;
    border: 0px solid transparent;
}


.sign-in-button-back {
    background-color: white;
    align-self: flex-start;
    border-radius: 100%;
    border: 1px solid black;
    width: 55px;
    height: 55px;   
    margin-left: 30px;
}

.sign-in-button-facebook {
<<<<<<< HEAD:src/components/Button/Button.scss
    margin-top: 30px;
    background-color: #7583CA;
=======
    background-color: $principal-color;
>>>>>>> e36a20bb00796befee9dd2fcdd55de8cdaf3311d:src/styles/components/_buttons.scss
    color: #F6F1FB;
    display: flex;
    align-items: center;
    width: 364px;
    height: 40px;
    border-radius: 20px;
    border: 0px solid transparent;
    width: 386px;
    height: 54px;
}

.sign-in-button-google{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 386px;
    height: 54px;
    border-radius: 20px;
    border: 0px solid transparent;
}