@import '../utilities/mixins';
@import '../utilities/variables';

.button
{
    &-home
    {
        @include button-purple;
    }
    &-sign-up
    {
        &-back
        {
            @include button-back;
        }
        &-facebook
        {
            @include button-flex;
            @include button-dimensions;

            color: $font-color;
            border: 0 solid transparent;
            border-radius: 20px;
            background-color: $principal-color;
        }
        &-google
        {
            @include button-flex;
            @include button-dimensions;

            margin-top: 20px;

            border: 0 solid transparent;
            border-radius: 20px;
        }
    }
    &-sing-in
    {
        &-back
        {
            align-self: flex-start;

            width: 55px;
            height: 55px;
            margin-left: 30px;

            border: 1px solid $secondary-color;
            border-radius: 100%;
            background-color: $primary-color;
        }
        &-facebook
        {
            @include button-flex;
            @include button-dimensions;

            color: $font-color;
            border: 0 solid transparent;
            border-radius: 20px;
            background-color: $principal-color;
        }
        &-google
        {
            @include button-flex;
            @include button-dimensions;

            margin-top: 20px;

            border: 0 solid transparent;
            border-radius: 20px;
        }
    }
}
