.description
{
    &-home
    {
        width: 298px;
        height: 52px;
    }
    &-welcome {
        font-family: 'Dancing Script', cursive;
        font-size: 40px;        
        width: 60%;
        height: 30px;
    }
    &-topic{
        width: 60%;
        height: 30px;
    }
}
