.title
{
    &-home
    {
        width: 168px;
        height: 30px;
        margin-top: 5vh;
    }
    &-sign-in
    {
        padding-bottom: 20px;
        font-size: 28px;
        line-height: 37,8px;

        width: 300px;
        height: 38px;
    }
    &-welcome
    {
        width: 168px;
        height: 30px;
        margin-top: 5vh;
    }
    &-topic
    {
        font-size: 25px;   
        width: 60%;
        height: 30px;
        margin-top: 5vh;
    }
}
