.title
{
    &-home
    {
        width: 168px;
        height: 30px;
        margin-top: 5vh;
    }
    &-sign-in
    {
        font-size: 28px;
        line-height: 37,8px;

        width: 208px;
        height: 38px;
    }
    &-welcome
    {
        color: #ffeccc;
    }
}
