.title {
    &-sign-up {

    }
    &-home {
        height: 30px;
        width: 168px;
        margin-top: 5vh;
    }
    &-sign-in{
        height: 38px;
        width: 208px;
        font-size: 28px;
        line-height: 37,8px;
    }
    &-welcome {
        color: #FFECCC; 
    }
}

