.all{
    display: flex;
    align-self: center;
}

.home-button {
    background-color: #8E97FD;
    color: #F6F1FB;
    width: 386px;
    height: 54px;
    border-radius: 38px;
    border: 0px solid transparent;
    margin-top: 50px;
}