@import './variables';

@mixin button-purple
{
    width: 386px;
    height: 54px;
    margin-top: 50px;

    color: $font-color;
    border: 0 solid transparent;
    border-radius: 38px;
    background-color: $principal-color;
}

@mixin button-back
{
    align-self: flex-start;

    width: 55px;
    height: 55px;
    margin-left: 30px;

    border: 1px solid $secondary-color;
    border-radius: 100%;
    background-color: $primary-color;
}

@mixin button-auth 
{
    
}

@mixin flex-center
{
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

@mixin button-flex 
{
    display: flex;
    align-items: center;
}

@mixin button-dimensions {
    width: 386px;
    height: 54px;
}