@import './variables';

@mixin button-purple {
    background-color: $principal-color;
    color: $font-color;
    width: 386px;
    height: 54px;
    border-radius: 38px;
    border: 0px solid transparent;
    margin-top: 50px;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}