$primary-color: white;
$secondary-color: black;
$principal-color: #7583ca;
$font-color: #f6f1fb;
$grey-color: #a1a4b2;
$background-color: #f2f3f7;

$font-title: 'Mr Dafoe', cursive;
$font-nav: 'Piazzolla', serif, bold;
$font-h3: 'Ubuntu', sans-serif;
$font-p: 'Noto Sans KR', sans-serif;

$default-width: 50%;
$default-height: 98.5vh;
$dimension-button-back: 55px;
$dimensions-padding-margin: 10px;

